In [1]:
import pandas as pd
import random
import numpy as np
np.random.seed(42)
random.seed(42)

df = pd.read_csv('kaggle/train_net.csv', index_col='ID')


df.head()

,FLOW_ID,PROTOCOL_MAP,L4_SRC_PORT,IPV4_SRC_ADDR,L4_DST_PORT,IPV4_DST_ADDR,FIRST_SWITCHED,FLOW_DURATION_MILLISECONDS,LAST_SWITCHED,PROTOCOL,...,MAX_IP_PKT_LEN,TOTAL_PKTS_EXP,TOTAL_BYTES_EXP,IN_BYTES,IN_PKTS,OUT_BYTES,OUT_PKTS,ANALYSIS_TIMESTAMP,ANOMALY,ALERT
ID,,,,,,,,,,,,,,,,,,,,,
0,372018590,udp,53950,10.114.232.40,53,10.114.226.5,1647760833,1,1647760833,17,...,0,0,0,165,2,275,2,1647760873,0.0,NaN
1,368604472,tcp,37914,10.114.241.166,38303,10.114.224.218,1647686725,1,1647686725,6,...,0,0,0,44,1,40,1,1647687338,0.0,Port Scanning
2,367513992,tcp,33216,10.114.241.166,18757,10.114.224.116,1647680044,0,1647680044,6,...,0,0,0,44,1,40,1,1647680115,1.0,Port Scanning
3,371997670,udp,48627,10.114.225.205,53,10.114.226.5,1647760172,0,1647760172,17,...,0,0,0,128,2,160,2,1647760207,0.0,NaN
4,374311119,udp,35939,10.114.225.205,53,10.114.226.5,1647780916,0,1647780916,17,...,0,0,0,172,2,300,2,1647780984,0.0,NaN

In [ ]:
attack_map = {
    'Port Scanning': 2,
    'Denial of Service': 1,
    'Malware': 3
}
protocol_map = {
    'tcp': 0,
    'udp': 1,
    'icmp': 2,
    'ipv6': 3,
    'ipv6-icmp': 4,
    'gre': 5,
    'skip': 6
}

df['PROTOCOL_MAP'] = df['PROTOCOL_MAP'].map(protocol_map)

df['ALERT'] = df['ALERT'].map(attack_map)
df['ALERT'] = df['ALERT'].fillna(0)

print(df['ALERT'].value_counts(), df['ALERT'].unique())

In [ ]:
df = df.drop(labels=['IPV4_SRC_ADDR', 'IPV4_DST_ADDR'], axis=1)
df.head()

In [ ]:
X = df.drop(columns=['ALERT'])
y = df['ALERT']

In [ ]:
import problexity as px

cc = px.ComplexityCalculator()

cc.fit(X,y)

In [ ]:
cc.complexity

In [ ]:
cc._metrics()

In [ ]:
cc.score()

In [ ]:
cc.report()

In [ ]:
# Import matplotlib
import matplotlib.pyplot as plt

# Prepare figure
fig = plt.figure(figsize=(7,7))

# Generate plot describing the dataset
cc.plot(fig, (1,1,1))